*{
    margin:0;
    height:100%
}

body{
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height:100%;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border:2ox solid red;
}

.sub-continer{
    width:50%;
    position: absolute;
    height: auto;
   }

h1{
    font-family: 'Sawarabi Mincho', sans-serif;
    font-size: 3em;
    color: white;
    margin-top:10%;
    margin-left: 5%;
}

h4{
    margin-top:25px;
    margin-left: 5%;
    font-family: 'Sawarabi Mincho', sans-serif;
    text-align: left;
    font-size: 1.5em;
    color: white;
}